/*Contact Form ------- */
form.contact{
  padding: 5%;
  text-align: center;
}

textarea{
  text-align: left;
  resize: none;
  height:200px;
  width: 200px;
  font-size: large;
  border-radius: 10px;
}
/*Media Queries ------- */

