/*sections------------------------------------------------------------------- */
body {
}
#wrapper {
}
main  {
}
article	{
}
aside	{
}
footer {
}
header {
}
.post	{
}
nav	{
}
.menu	{
}
/*headings------------------------------------------------------------------- */
h1	{
}
h2	{
}
h3 	{
}
/*grouping------------------------------------------------------------------- */
p	{
}
blockquote	{
}
/*lists---------------------------------------------------------------------- */
ul	{
}
li	{
}
ol	{
}
dl	{
}
dt	{
}
dd	{
}
/*text------------------------------------------------------------------------ */
em	{
}
strong	{
}
small	{
}
cite	{
}
time	{
}
/*image----------------------------------------------------------------------- */
figure	{
}
figcaption	{
}
img	{
}
/*anchors--------------------------------------------------------------------- */
a:link	{
}
a:visited {
}
a:hover {
}
a:active {
}