* { 
  margin: 0;
  padding: 0;}
/*sections------------------------------------------------------------------- */
body {
  margin: 100px;
  padding:10px;
} 
article.projects	{
  background: #999;
  color: white;
  border-radius: 10px;
  padding: 2%;
  margin: 60px;
  display: flex;
  width: 600px;
  
}
article.aboutme{
  border-radius: 20px;
  background:#999;
  color: white;
  padding: 2%;
  margin: 60px 60px 60px 60px;
}
form.contact{
  padding: 5%;
  text-align: center;
}

/*grouping------------------------------------------------------------------- */


section.projects{
  display:flex;
  flex-direction: row;
  font-family: 'Benne', serif;
  border-style: dotted;
  margin: 100px;
}
section.aboutme{
  font-family: 'Benne', serif;
  border-style: dotted;
  margin: 100px;
}
section.contact{
  font-family: 'Benne', serif;
  border-style: dotted;
  margin: 100px;
}
/*individual text tags--------------------------------- */
h1	{
  text-align: center;
  font-family: 'Lora', serif;
}
/*navigation----------------------------------------------------------------------- */
.navbar{
  height:100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #999;
  overflow-x: hidden;
  padding-top: 20px;

}
.navbar a {
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.navbar a.active {
  background-color: #ffffff;
  color: rgb(30, 255, 0);
}